<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>

    <title>Document</title>
</head>

<body>
    <form id="register" method="post">
        <h1><%=title %></h1>
        <label>login</label><br>
        <input type="text" id="register-login" size="20" required name="email" form="register"><br></div>
        <label>password</label><br>
        <input type="text" id="register-password" size="20" required name="password" form="register"><br></div>
        <label>confirm password</label></div>
        <input type="text" id="register-password-confirm" size="20" required name="repeatPassword" form="register"><br>
        <button class="register-button" type="submit">Registrat</button>
    </form>
</body>

</html>